include mixins/achievement.jade
include mixins/header.jade

doctype html
html
  +header( 'Collection  ' + collection.title + " by " + collection.owner.username )

  p
    a(href='/user/' + collection.owner.id)
      img(src='/icon/' + (collection.owner.avatar || site.defaultAvatar) title=collection.owner.username)
  h1= collection.title
  p= collection.description

  ul#AchievementList
    for a in collection.achievements
      li
        a(href='/achievement/'+a.id onClick="startEditAchievement( this ); return false;")
          +achievement(a)
    if collection.editable
      p#AchievementInsert
        a(href='/achievement/add' onClick="newAchievement( '" + collection.id + "' ); return false;") +
      #AchievementSpinner(style="display:none;")
        p= 'Adding...'
      #AchievementTemplate(style="display:none;")
        li
          a(href='/achievement/???' onClick="startEditAchievement( this ); return false;")
            +achievement( {} )

  +footer
