extends layout

include mixins/achievement.jade

block content
  h1 #{title}
  p #{description}
  for a in achievements
    a(href='/achievement/'+a.id)
      +achievement(a)
    br
  p
    a(href='' onClick="newAchievement(); return false;") +
  #new(style="display:none;")
    +achievement( {} )
