body
{
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background : #ddd;
}

a
{
  color: #00B7FF;
  text-decoration : none;
}

.main
{
    width : 1100px;
    background : #fff;
    border : solid 1px black;
    position : relative;
    margin : 0 auto;
}
.mainjoin
{
    clear : both;
}

.leftcol
{
    width : 778px;
    border-right : solid 1px black;
    padding : 5px;
    float : left;
}
.rightcol
{
    width : 300px;
    padding : 5px;
    float : right;
}

ul
{
    list-style-type : none;
    padding : 0px;
}

li
{
    padding : 0px;
    margin : 4px;
}

.hidden { display : none; }

.view { display : block; }
.edit { display : none; }

.achievement 
{
    background: #4F4F4E;
    border-radius : 2px;
    clear : both;
    height : 72px;
    width : 772px;
}

.achievement .have { display : none; }
.achievement .need { display : block; }

.achievement .icon 
{
    float : left;
    width: 64px;
    height: 64px;
    margin: 4px 4px 10px 4px;
}

.buttonBar { float : right; }
.view .buttonBar { display : none; }
.hasButtonBar:hover .view .buttonBar { display : block; }

.save { color : green; }
.cancel { color : red; }

.achievement .title 
{
    color: #9DC34C;
    font-family:arial, helvetica, tahoma, trebuchet ms, sans-serif;		
    font-size:20px;
}

.achievement .description
{
    color: #c8b996;
    font-family: tahoma, helvetica, arial, trebuchet ms, sans-serif;		
    font-size: 11px;
    font-weight: bold;
}
