body
{
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a
{
  color: #00B7FF;
  text-decoration : none;
}

ul
{
    list-style-type : none;
}

li
{
    margin : 4px;
}

.achievement 
{
    background: #4F4F4E;
    border-radius : 2px;
    clear : both;
    height : 72px;
    width : 772px;
}

.achievement .have { display : block; }
.achievement .need { display : none; }

.achievement .view { display : block; }
.achievement .edit { display : none; }

.achievement .icon 
{
    float : left;
    width: 64px;
    height: 64px;
    margin: 4px 4px 10px 4px;
}

.achievement .title 
{
    color: #9DC34C;
    font-family:arial, helvetica, tahoma, trebuchet ms, sans-serif;		
    font-size:20px;
}

.achievement .description
{
    color: #c8b996;
    font-family: tahoma, helvetica, arial, trebuchet ms, sans-serif;		
    font-size: 11px;
    font-weight: bold;
}
